*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
.box{
width: 150px;
height: 150px;
background-color: #ff0000;
border-radius: 10px;
font-size: 40px;
display: flex;
justify-content: center;
align-items: center;
transition: 0.5 s;

}
nav{
    height: 100vh;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
flex-direction:row-reverse;
box:hover
background: #01f5f5;
}


